<center> 
	<h1 class="mrg-top-30">Forgot your password?</h1>
  <div class="mrg-top-10">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, class: "form-control col-md-4"  %>
		  </div>

		  <div class="form-group">
		    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-prmy-cust" %>
		  </div>
		<% end %>
	</div>	

	<%= render "users/shared/links" %>
</center>	